.Fundo{
    background-color: rgba(255,203,135,0.4);
}

.Logo{
    color: #806644 ;
}

.Texto{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size:14pt;
    color: #403322;
}

.TituloLogo{
    font-weight: bold;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size:14pt;
    color: rgba(255,255,255,1);

}

.LinkMenu{
    text-decoration:none;
    font-weight: bold;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size:12pt;
    color: rgba(255,255,255,1);
}

.LinkMenu:hover{
    color: rgba(255,255,255,1);
}

