*{
    padding: 0;
    margin: 0;
}

.CaixaTexto{
    margin-bottom: 30px;
    width: 430px;
}

.FormLogin{    
    margin-top:200px;
    border: solid 1px #7952B3 ;
    border-radius: 0px;
}

.BodyLogin{
   /*background-image: url(../../img/empresa.png);
   background-position: top;
   background-size: cover;*/
}

button.animated-button.thar {
	color: #3CB371;
	cursor: pointer;
	display: block;
	position: relative;
	border: 1px solid #3CB371;
        font-size: 20px;
        margin: 10px;
}
button.animated-button.thar:hover {
	color: #000;
	background-color: transparent;
}
button.animated-button.thar-left:hover:before {
	left: 0%;
	width: 100%;
}

button.animated-button.thar-right:hover:before {
        padding: 0;
        margin: 0;
	right: 0%;
	width: 100%;
}
button.animated-button.thar:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #fff;
	background: #3CB371;
	transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.Icones{
    width:50px;
    height:50px;
}

.ImgLogo{
    width:253px;
    height:75px;
}

.TextoLogo{
    font-family: Arial Black;
}

.MenuTopo{
    background-color:#7952B3;
}

.ImgUser{
    width:150px;
    height:150px;
}